.DS_Store

# Build directories
build/
cmake-build-debug/
cmake-build-release/
CMakeLists.txt

# IDE files
.idea/
.vscode/

# Compiled object files
*.o
*.obj
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Debug files
*.dSYM/